* {
  box-sizing: border-box;
}

body {
  background-color: rgb(104,187,285);
}

#header {
  text-align: center;
  width:100%;
  height:100px;
}

#container {
  background-color: #7BD1ED;
  display:flex;
  width: 100%;
  height: 730px;

}

#left-box {
  margin-top: 15px;
  float:left;
  background-color: #198AB0;
  color:white;
  width: 400px;
  height: 700px;
}

#right-box {
  margin-left: 20px;
  margin-right: 20px;
}

#experience {
  background-color: white;
  color:black;
}

#study {
  background-color: white;
  color:black;
  margin-top: 35px;
}

li {
  list-style-type: none;
}

.experience h3 {
  padding-left: 10px;
}

.study h3 {
  padding-left: 10px;
}

.experience p {
  padding-left: 30px;
}

.study p {
  padding-left: 30px;
}

#left-box img {
  margin-top: 25px;
  margin-left: 35px;
  width: 200px;
  height: 200px;
}

#left-box p {
  padding-left: 10px;
}

#footer {
  width:100%;
  height:100px;
}
